:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
    align-content: center;
}

$width: 7em;

button {
    width: $width;
    height: $width;
    margin: 1em;
}