/* You can add global styles to this file, and also import other style files */

@import "../node_modules/normalize.css/normalize.css";

html,
body {
  height: 100%;
  @media only screen and (max-width: 414px) {
    font-size: 16px;
  }
}

button {
  background: #eee;
  border: 1px solid #eee;
  padding: 0.5em 1em;
  cursor: pointer;
  &:not([disabled]):hover {
    background: #ddd;
    border: 1px solid #ddd;
  }
  &:not([disabled]):active {
    background: #ccc;
    border: 1px solid #ccc;
  }
  &:not([disabled]).primary {
    background: #333;
    border: 1px solid #333;
    color: white;
    &:not([disabled]):hover {
      background: #444;
      border: 1px solid #444;
    }
    &:not([disabled]):active {
      background: #555;
      border: 1px solid #555;
    }
  }

}

[disabled] {
  cursor: inherit;
}

input {
  border: 1px solid #eee;
  padding: 0.5em;
}
