<h1>Ajouter une question</h1>
<form [formGroup]="f" (ngSubmit)="submit()">
  <label>
    <div>
      Texte
    </div>
    <textarea rows="3" formControlName="label"></textarea>
  </label>
  <div>Réponses</div>
  <div class="answers">
    <div class="text">
      <input *ngFor="let chr of ['A', 'B', 'C', 'D']" 
        input="text" [formControlName]="'answer' + chr">

    </div>
    <div class="radio">
      <div *ngFor="let chr of ['A', 'B', 'C', 'D']">
        <input type="radio" formControlName="correctAnswer" [value]="chr">
        <span>{{chr}}</span>
      </div>
    

    </div>
  </div>
  <div class="buttons">
    <button routerLink="/setup" type="button">Annuler</button>
    <button class="primary">Ajouter</button>
  </div>
</form>

{{f.value | json}}