<h1>Ajouter une question</h1>
<form [formGroup]="f">
  <label>
    <div>
      Texte
    </div>
    <textarea rows="3"></textarea>
  </label>
  <div>Réponses</div>
  <div class="answers">
    <div class="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
    </div>
    <div class="radio">
      <div><input type="radio"><span>A</span></div>
      <div><input type="radio"><span>B</span></div>
      <div><input type="radio"><span>C</span></div>
      <div><input type="radio"><span>D</span></div>
      
      
    </div>
  </div>
  <div class="buttons">
    <button routerLink="/setup">Annuler</button>
    <button class="primary" routerLink="/setup">Ajouter</button>
  </div>
</form>